*{margin:0;padding:0;}
li{list-style:none }
img{vertical-align:top;border:none}
a{text-decoration:none;outline: none;color: #8D8D8D;}
i{font-style: normal;}
button{border: 0;outline: none; }
input{outline: 0;border: 0;}
input[type=number] {-moz-appearance:textfield;}
input[type=number]::-webkit-inner-spin-button,  input[type=number]::-webkit-outer-spin-button{-webkit-appearance: none;}
/* 内容 */
.content{min-height: 600px;width: 100%;margin: 0 auto;overflow: hidden;min-width: 1200px;background: #f5f5f5;}
.content_box{min-height: 600px;width: 1200px;margin: 0 auto;overflow: hidden;}
.content-l{width: 100%;height: auto;overflow: hidden;}
.content-l p{font-size: 12px;margin-top: 20px;color: #8D8D8D;margin-bottom: 24px;}
.content-l p a:hover{color: #74171b;}
/* 排序 */
.content_c{height: 40px;background: #f5f5f5;padding: 0 16px;line-height: 40px;font-size:12px;}
.content_c>p{float: left;margin-right: 32px;color: #8d8d8d;cursor: pointer;}
.content_c>p:nth-child(1){color:rgb(116,24,27);}
.price{height: 40px;float: left;display: flex;flex-direction: row;}
.price p:nth-child(1),.price p:nth-child(3){width: 50px;height: 20px;border: 1px #e9e9e9 solid;background: #fff;padding: 0 1px;box-sizing: border-box;display: block;margin-top: 10px;}
.price p:nth-child(2){font-size: 10px;margin: 0 2px;color: #8d8d8d;}
.price p span{float: left;height: 18px;line-height: 18px;font-size: 10px;color: #8d8d8d;margin: 0 2px;}
.price p input{width: 32px;padding: 0 2px;box-sizing: border-box;height: 18px;font-size: 12px;float: left;color: #8d8d8d;}
/* 物品列表 */
.goods_list{width: 100%;height: auto;margin-top: 30px;margin-bottom: 104px;overflow: hidden;}
.goods_list li{background: #fff;width: 282px;margin: 0 24px 18px 0;box-sizing: border-box;float: left;overflow: hidden;}
.goods_list li:nth-child(4n){margin-right: 0;}
.goods_list li:nth-child(5n){margin-right: 24px;}
.goods_list li>a,.goods_list li a img{width: 280px;height: 280px;background: cadetblue;background-size: 100% 100%;}
.goods_list li .information{height: 80px;width: 100%;padding: 10px;box-sizing: border-box;border-bottom:0;}
.goods_list .information>.buyText{font-size: 12px;margin-bottom: 10px;}
.information div{height: 20px;width: 100%;}
.information>div>p{font-size: 18px !important;color: #DE0812;font-weight: 600;line-height: 20px;float: left;margin-right: 6px;margin-bottom:0 !important;}
.information div p span{font-size: 8px;}
.information div del{font-size: 8px;float: left;padding-top: 8px;}
.information div del span{font-size: 6px;}
.information div button{float: right;line-height: 30px;height: 30px;width: 80px;box-sizing: border-box;background: #fff;border-radius: 20px;border: 1px solid}
.nobuy{border: 1px #c9c9c9 solid;color: #c9c9c9;}
.gobuy{border: 1px #DE0812 solid;color: #DE0812;}
.gobuy:hover{border: 1px #DE0812 solid;color: #fff;background:#DE0812}
.willbuy{color: #542628;border-color: #542628;}
.appraise .willbuy{color: #542628;font-size: 12px;}
.appraise{height: 30px;padding: 0 10px;box-sizing: border-box;margin-top:10px;}
.appraise p{font-size: 12px;width:85%;text-align:right;height: 30px;line-height: 30px;float:right;}
/* .appraise p:nth-child(2){float: right;color: #8D8D8D;font-size: 10px;} */
.pages{display: flex;flex-direction: row;justify-content: center;padding-bottom: 120px;}
.pages p{background: #fff;width:33px;height:33px;border: 1px #e9e9e9 solid;line-height: 33px;text-align: center;margin-right: 4px;color: rgb(121,121,121);float: left;}
.pages p:nth-child(2),.pages p:hover{background: rgb(116,24,27);color: white;}
.pages p:last-child{margin: 0;width: 58px;}
.banner{width:100%;min-width: 1200px;overflow: hidden;height: 96px;box-sizing: border-box;background: #fff;border-top: 1px #e9e9e9 solid;}
.banner img{width: 1200px;height: 96px;margin: 0 auto;display: block;}
.c_nav{height: 50px;width: 100%;background: #575757;border-top: 1px #ececec solid;}
.c_nav ul{width: 1200px;margin: 0 auto;line-height: 50px;font-size: 15px;display: flex;flex-direction: row;justify-content: space-around;color: #8D8D8D;}
.c_nav li{cursor: pointer;}
.c_nav li:hover,.c_nav li:nth-child(3){color: #fff;}
/* .f_window{position: fixed;top: 48%;left: 90%;width: 60px;height: 122px;}
.f_window div{width: 60px;height: 60px;margin-bottom: 2px;background: #fff;display: flex;flex-direction: column;justify-content: center;align-items: center;cursor: pointer;}
.f_window div i{background: url(/static/new/img/f_window1.jpg) no-repeat;background-size: 100% 100%;width: 18px;height: 15px;display: block;}
.f_window div:last-child i{background: url(/static/new/img/f_window2.jpg) no-repeat;}
.f_window div:last-child{margin-bottom: 0;} */
.pages {
    text-align: center;
    color: #666;
    height: 24px;
    line-height: 24px;
}

.pages .current {
    display: inline-block;
    padding: 0px 5px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    background: #f80;
    border: 1px solid #f80;
}

.pages a {
    display: inline-block;
    padding: 0px 5px;
    margin-right: 15px;
    height: 22px;
    line-height: 22px;
    background: #fff;
    color: #f80;
    border: 1px solid #f80;
    text-decoration: none;
}

.sort_row {
    height: 30px;
    border: 1px solid #ddd;
    background: #fff;
    width: 1200px;
    margin: 0 auto;
}

.sort_row ul li {
    float: left;
    display: block;
    border-right: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 28px;
    position: relative;
}